/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Arrow for popup */
.popper-arrow {
  color: white;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

/* tuỳ chỉnh theo placement */
[data-popper-placement^="right"] > .popper-arrow {
  left: -0.5em;
  top: calc(50% - 0.5em);
}

[data-popper-placement^="left"] > .popper-arrow {
  right: -0.5em;
  top: calc(50% - 0.5em);
}

[data-popper-placement^="bottom"] > .popper-arrow {
  top: -0.5em;
  left: calc(50% - 0.5em);
}

[data-popper-placement^="top"] > .popper-arrow {
  bottom: -0.5em;
  left: calc(50% - 0.5em);
}
